@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  margin: 0 !important;
  background-image: url('../assets/img/movingbg.svg');
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

* {
  font-family: 'Gowun Dodum', sans-serif;
}

hr {
  width: 60%;
  height: 3px;
  background: #8eaccd;
  border: 0;
}

.button-box {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background: rgba(249, 243, 204, 0.82);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.button-box div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  background: #d7e5ca;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  cursor: pointer;
}

.bg-blue {
  background: rgb(142, 172, 205);
}

.bg-green {
  background: #d7e5ca;
}

.member-image:hover + .name {
  opacity: 1;
  transform: translateY(10%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}

.member-image {
  padding: 5px;
  height: 60px;
  width: 60px;
  border-radius: 50% 50%;
  border: none;
}

.name-box {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 10px;
}

.name {
  z-index: -10;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  padding: 10px 20px;
  border-radius: 250px;
  color: black;
}

.detail-layout {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: rgb(210, 224, 251) solid 2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.comment-container {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-container h3 {
  text-align: center;
}

.comment-box,
.comment-list {
  display: flex;
  justify-content: center;
}

.comment-box textarea {
  width: 50%;
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  font-size: 20px;
}

.comment-list {
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-list div {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 50%;
}

.volumn {
  /*section간 공간 주기 위해서*/
  height: 70px;
}

.last {
  background-color: #6b85a0db;
  height: 250px;
}

.last01 {
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif !important;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  color: white;
  padding: 50px 0 0 0;
  text-align: center;
  width: 100%;
}

.common-word {
  justify-content: center;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif !important;
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}

.last-word a {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif !important;
  width: 100%;
  font-size: 20px;
  color: white;
}
