* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid transparent;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.korname {
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
}


.engname {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.mybtn {
    display: inline-block;
    background-color: white;
    border-color: gray;
    padding: 5px 10px;
    border-radius: 10px;
    color: grey;
    cursor: pointer;
    transition-duration: 0.4s;
    align-items: center;
    position: relative;
}

.mybtn1:hover {
    background-color: lightgray;
}

.btncenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title {
    margin-bottom: 50px;
    font-size: 60px;
    color: rgba(56, 56, 56, 0.678);
    text-shadow: 0px 3px 4px;
    text-align: center;
}

.myinfo {
    text-align: center;
}

.navbar a {  /*혜민작성(nav~관련 css)*/
    text-decoration: none;
    color : white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8EACCD;
    padding: 8px 12px;
}

.nav_logo{
    font-size: 24px;
    color: white;
}

.nav_logo i{
    color: #D7E5CA;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav_menu li { /*이름끼리 공간마련*/
    padding : 8px 20px;
}

.nav_menu li:hover{ /*마우스 올리면 이름에 색상*/
    background-color: #D7E5CA;
    border-radius: 4px;
}

.nav_link{
    display: flex;
    padding-left: 0;
}


.nav_bar{
    position: absolute;
    right: 32px;
    font-size: 24px;
    color :  #D7E5CA;
}

@media screen and (max-width: 768px){ /*화면이 작아지면 상단 메뉴 유동적으로 변경*/
    .navbar {
        flex-direction: column;
        align-items:flex-start;
        padding : 8px 12px;
    }
    .nav_menu { 
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .nav_menu li{
        width: 100%;
        text-align: center;
    }
}

.volumn { /*section간 공간 주기 위해서*/
    height: 40px;
}

.group {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    
}

.profile-card {
    min-height: 450px !important;
}